
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CL_DTLlib/build-CL_DTLlib-Desktop_Qt_5_11_3_MinGW_32bit-Debug/
CL_DTLlib/CL_DTLlib/CL_DTLlib.pro.user.6c6af8f
CL_DTLlib/CL_DTLlib/CL_DTLlib.pro.user
